/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
    /*font-family: 'Lato', sans-serif;*/
}

footer {
  width:100%;
  height: 40px;
  background-color: black;
  color:rgba(120, 120, 120, 1);
  text-align: center;
  margin-top: 30px; 
  margin-bottom: -40px;
  padding: 1rem;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.navbar-brand {
  width: 150px;
}

.dropdown-menu {
  width:400px;
  height:300px;
}

a.dropdown-toggle {
  color:yellow;
}

.dropdown-profile {
  width:auto;
  height:auto;
  padding: 10px;
}

.advancedSearchWrapper {
  width:200px;
  margin-left: 20px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
 background:none;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar {
 background-color: rgba(40, 40, 40, 1);
 -webkit-box-shadow:inset 0 8px 10px -10px white,
 inset 0 -8px 8px -10px white; 
 -moz-box-shadow: inset 0 8px 8px -10px white,
 inset 0 -8px 10px -10px white; 
 box-shadow: inset 0 8px 10px -10px white,
 inset 0 -8px 8px -10px white; 
}

.navbar-form {
  margin-left: -15%;
}

.navbar .nav > .dropdown {
  margin-left: -40%;
}

.top-filters {
  margin-left: 25px;
}

.input-group {
  width: 100%;
  text-align:center;
  white-space:nowrap;
  display:table-cell;
}

.selectdrop {
  display:inline-block;
  vertical-align: top;
  height: 34px;
}

.form-control {
  display:inline-block;
  vertical-align: top;
}

.input-group-btn {
  display:inline-block;
  vertical-align: top;
}




/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 1000px) {
  .advancedSearchWrapper {
    width: 130px;
    margin-left: -5px;
  }
}


@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }  
}

@media (max-width: 992px) {
  .navbar-form {
    margin-left: -15%;
  }

  .navbar .nav > .dropdown {
    margin-left: -20%;
  }

}

@media (max-width: 768px) {

  .navbar-form {
    margin-left: 0%;
  }

  .navbar .nav > .dropdown {
    margin-left: 0px;
  }

  .advancedSearchWrapper {
    margin-left: 0px;
    width: 100%;
  }
  .top-filters {
  margin-left: 10px;
}
}


